.bodycss{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

.livecss{
    position: relative;
    top: 3rem;
    text-align: center;

}

.boxes{
    display: flex;
    flex-direction: row;
    
   justify-content: space-evenly;
   flex-wrap: wrap;
   text-align: center;
   margin-top: 6rem;
}

.box{  
    width: 22rem;
    /* padding-bottom: 3rem; */
    height: 13rem;
    margin: 2rem;
}

.title{
    font-size: 20px;
    font-weight: bolder;
}

.record{
    font-size: 2.3rem;
    font-weight: 800;
    letter-spacing: 1px;
    box-shadow: 4px 6px 8px red;
    padding: 8px;
}

.color1{
    background-color: rgb(22, 65, 114);
}
.color2{
    background-color: rgb(36, 180, 16);
}
.color3{
    background-color: rgb(166, 168, 23);
}
.color4{
    background-color: rgb(214, 26, 26);
}
.color5{
    background-color: rgb(221, 11, 193);
}
.color6{
    background-color: rgb(18, 173, 153);
}

